rofi.color-enabled: true
rofi.color-window: #0a0a0a, #0a0a0a, #F8F8F2

rofi.color-normal: #0a0a0a, #F8F8F2, #0a0a0a, #F8F8F2, #819396
rofi.color-active: #0a0a0a, #4D4D4D, #0a0a0a, #F8F8F2, #282A36
rofi.color-urgent: #0a0a0a, #F8F8F2, #0a0a0a, #F8F8F2, #da4281

rofi.separator-style: none
rofi.sidebar-mode: false
rofi.bw: 2
rofi.columns: 1
rofi.padding: 10
rofi.width: 40
rofi.lines: 10
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true