rofi.color-enabled: true
rofi.color-window: #04142D, #04142D, #F8F8F2

rofi.color-normal: #04142D, #F8F8F2, #04142D, #F8F8F2, #819396
rofi.color-active: #04142D, #4D4D4D, #04142D, #F8F8F2, #282A36
rofi.color-urgent: #04142D, #F8F8F2, #04142D, #F8F8F2, #da4281

rofi.separator-style: none
rofi.sidebar-mode: false
rofi.bw: 1
rofi.columns: 1
rofi.padding: 50

rofi.yoffset: 0
rofi.fake-transparency: false
rofi.location: 0
rofi.width: 50
rofi.font: DejaVu Sans Mono 18
rofi.lines: 10
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true