#define base00 #1e1e1e
#define base01 #323537
#define base02 #464b50
#define base03 #5f5a60
#define base04 #838184
#define base05 #a7a7a7
#define base06 #c3c3c3
#define base07 #ffffff
#define base08 #cf6a4c
#define base09 #cda869
#define base0A #f9ee98
#define base0B #8f9d6a
#define base0C #afc4db
#define base0D #7587a6
#define base0E #9b859d
#define base0F #9b703f

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

urxvt*background: rgba:1E0A/1E0A/1E0A/FA00
! URxvt*geometry:            112x22
URxvt*font:                xft:Iosevka:size=14
URxvt*urlLauncher:         vivaldi-stable
URxvt*scrollBar:           false
URxvt*scrollBar_right:     false
URxvt.internalBorder:      25
URxvt*depth: 32

Xft*dpi:                96
Xft*antialias:          true
Xft*hinting:            full

rofi.color-enabled: true
rofi.color-window:  #2C393F, #2C393F, #263238
rofi.color-normal:  #2C393F, #CDD3DE, #2C393F, #2C393F, #FFFFFF
rofi.color-active:  #2C393F, #89DDFF, #2C393F, #2C393F, #89DDFF
rofi.color-urgent:  #2C393F, #EC5F67, #2C393F, #2C393F, #EC5F67

rofi.separator-style: none
rofi.sidebar-mode: false
rofi.bw: 2
rofi.columns: 1
rofi.padding: 10
rofi.width: 40
rofi.lines: 10
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true