//Append this to common.css

button.vivaldi {
    display: none !important;
}

#tabs-container {
    padding-top: 0px !important;
    padding-left: 0px !important;
}

.trash {
   display: none !important;
}

.tab-strip {
    background: #ccc !important;
}

.button-toolbar.rewind,
.button-toolbar.next,
.button-toolbar.home,
{
    display: none !important;
}

.startpage-navigation {
    display: none !important;
}

.searchfield {
    display: none !important;
}
