//Append this to common.css

button.vivaldi {
    display: none !important;
}

#tabs-container {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.trash {
   display: none !important;
}

.tab-strip {
    background: #ccc !important;
    display: flex;
}

.tab-strip > * {
    flex: 1;
}

.tab-strip > span > .tab-position {
    left: initial !important;
    flex: 1 1 0%;
    width: auto !important;
    position: relative;
}

.button-toolbar.rewind,
.button-toolbar.next,
.button-toolbar.home,
{
    display: none !important;
}

.startpage-navigation {
    display: none !important;
}

.searchfield {
    display: none !important;
}

#panels #switch {
    display: none;
}

.panel#downloads header {
    display: none;
}

.titlebar .window-buttongroup {
    display: none;
}

.button-tabbar.newtab {
    left: initial !important;
    right: 0 !important;
    z-index: 100 !important;
}

button.button-toolbar.rewind,
button.button-toolbar.next,
button.button-toolbar.home {
    display: none !important;
}
